@using VeraMente_Sportiva.Utils
@using VeraMente_Sportiva.Models

@model List<CalendarioViewModel>

@{
    DateTime oggi = DataUtility.CurrentDateTime().Date;

    int checkNextGame = 0;
}

<script>
    var container = $('body');
    $(document).ready(function () {
        disattivaLoading();

        setTimeout(function () {
            var scrollTo = $(".nextMatch");
            var position = scrollTo.offset().top - container.offset().top + container.scrollTop();
            container.animate({
                scrollTop: position
            });
        }, 2000);
    });

</script>

<style>

    .titleSectionSchedule {
        margin-top: 2vmin;
        width: 100%;
        text-align: center;
    }

    .schedule {
        animation: 0.5s ease-out 0s 1 slideFromRight;
    }

    .match {
        width: 100%;
        height: 12vmin;
        border-bottom: 1px solid var(--text-color);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 0 10px;
    }

        .match:hover {
            background-color: var(--orange-transparent);
        }

    .infoMatch {
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .resultMatch {
        height: 100%;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .teamMatch {
        width: 40%;
        text-align: center;
    }

    .scoreMatch {
        width: 20%;
        text-align: center;
        margin-top: 2vmin;
    }

    .numberMatch {
        position: absolute;
        top: 0.5vmin;
        right: 0.5vmin;
    }

    .nextMatch {
        background-color: var(--orange) !important;
        color: var(--text-color);
    }
</style>

<div class="titleSectionSchedule sizeMediumBig weight300">
    Stagione 22/23
</div>

<div class="schedule">
    @foreach (var item in Model)
    {
        string nextMatch = "";
        if (item.dataGara >= oggi && checkNextGame == 0)
        {
            nextMatch = "nextMatch";
            checkNextGame = 1;
        }
        <div class="match @nextMatch">
            <div class="infoMatch">
                <div class="sizeMediumSmall weight300">
                    @item.luogo
                </div>
                <div class="sizeSmallNormal weight300">
                    @item.indirizzo
                </div>
                <div class="sizeMediumSmall weight300">
                    @item.dataOra
                </div>
            </div>
            <div class="resultMatch">
                <div class="teamMatch sizeMedium">
                    @item.squadraCasa
                </div>
                <div class="scoreMatch">
                    <div class="weight900 sizeMediumBig">
                        @item.risultato
                    </div>
                    <div class="weight300 sizeSmallNormal">
                        @Html.Raw(item.parziali)
                    </div>
                </div>
                <div class="teamMatch sizeMedium">
                    @item.squadraOspite
                </div>
            </div>
            <div class="numberMatch">
                @item.numeroGara
            </div>
        </div>
    }
</div>
