@using VeraMente_Sportiva.Utils
@using VeraMente_Sportiva.Models

@model List<CalendarioViewModel>

@{
    DateTime oggi = DataUtility.CurrentDateTime().Date;

    int checkProssimaPartita = 0;
}

<script>
    var container = $('body');
    $(document).ready(function () {
        disattivaLoading();

        setTimeout(function () {
            var scrollTo = $(".nextMatch");
            var position = scrollTo.offset().top - container.offset().top + container.scrollTop();
            container.animate({
                scrollTop: position
            });
        }, 2000);
    });

</script>

<style>

    .titleSectionSchedule {
        margin-top: 2vmin;
        width: 100%;
        text-align: center;
    }

    .schedule {
        animation: 0.5s ease-out 0s 1 slideFromRight;
    }

    .match {
        width: 100%;
        height: 12vmin;
        border-bottom: 1px solid var(--text-color);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 0 10px;
    }

        .match:hover {
            background-color: var(--orange-transparent);
        }

    .infoMatch {
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .resultMatch {
        height: 100%;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .teamMatch {
        height: 100%;
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .containerImgSquadra {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .imgSquadra {
        height: 50%;
        display: block;
    }

    .nomeSquadra {
        width: 80%;
    }

    .scoreMatch {
        width: 20%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .numberMatch, .parziali {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .risultato {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nextMatch {
        background-color: var(--orange) !important;
        color: var(--text-color);
    }

    .parziali {
        font-size: 14px;
    }

    /* Smartphones Portrait */
    @@media (min-width: 320px) and (max-width: 480px) {
        .titleSectionSchedule {
            font-size: 20px !important;
            margin-bottom: 2vmin;
        }

        .match {
            width: 100%;
            height: 33vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
        }

        .infoMatch {
            width: 100%;
            height: 55%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

            .infoMatch .sizeMediumSmall {
                font-size: 12px;
                font-weight: 500;
                width: 25%;
                text-align: center;
            }

            .infoMatch .sizeSmallNormal {
                text-align: center;
                width: 50%;
            }

        .resultMatch {
            height: 45%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .teamMatch {
            width: 35%;
        }

        .scoreMatch {
            width: 30%;
        }

        .numberMatch {
            font-weight: 300;
        }

        .containerImgSquadra {
            display: none;
        }

        .nomeSquadra {
            width: 100%;
            font-size: 16px;
        }

        .parziali {
            display: none;
        }
    }

    /* Tablet Landscape */
    @@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .titleSectionSchedule {
            font-size: 20px !important;
            margin-bottom: 2vmin;
        }

        .match {
            height: 15vh;
        }

        .containerImgSquadra {
            display: none;
        }

        .nomeSquadra {
            width: 100%;
        }

        .numberMatch {
            font-weight: 300;
        }

        .parziali {
            display: none;
        }
    }

    /* Small Laptop and Big Tablet Landscape */
    @@media (min-width: 1025px) and (max-width: 1280px) {
        .titleSectionSchedule {
            font-size: 20px !important;
            margin-bottom: 2vmin;
        }

        .match {
            height: 15vh;
        }

        .containerImgSquadra {
            display: none;
        }

        .nomeSquadra {
            width: 100%;
        }

        .numberMatch {
            font-weight: 300;
        }

        .parziali {
            display: none;
        }
    }
</style>

<div class="titleSectionSchedule sizeMediumBig weight300">
    Stagione 22/23
</div>

<div class="schedule">
    @foreach (var item in Model)
    {
        string prossimaPartita = "";
        if (item.dataGara >= oggi && checkProssimaPartita == 0)
        {
            prossimaPartita = "nextMatch";
            checkProssimaPartita = 1;
        }
        <div class="match @prossimaPartita">
            <div class="infoMatch">
                <div class="sizeMediumSmall weight300">
                    @item.luogo
                </div>
                <div class="sizeSmallNormal weight300">
                    @item.indirizzo
                </div>
                <div class="sizeMediumSmall weight300">
                    @item.dataOra
                </div>
            </div>
            <div class="resultMatch">
                <div class="teamMatch sizeMedium">
                    <div class="containerImgSquadra">
                        <img class="imgSquadra" src="@item.immagineCasa" />
                    </div>
                    <div class="nomeSquadra">@item.squadraCasa</div>
                </div>
                <div class="scoreMatch">
                    <div class="numberMatch">
                        @item.numeroGara
                    </div>
                    <div class="risultato weight900 sizeMediumBig">
                        @item.risultato
                    </div>
                    <div class="weight300 parziali">
                        @Html.Raw(item.parziali)
                    </div>
                </div>
                <div class="teamMatch sizeMedium">
                    <div class="nomeSquadra">@item.squadraOspite</div>
                    <div class="containerImgSquadra">
                        <img class="imgSquadra" src="@item.immagineOspite" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
