@using VeraMente_Sportiva.Utils
@using VeraMente_Sportiva.Models

@model List<ClassificaViewModel>

<script>

    $(document).ready(function () {
        disattivaLoading();
    });

</script>

<style>

    .titleSectionStanding {
        margin-top: 2vmin;
        width: 100%;
        text-align: center;
    }

    .tableSchedule {
        width: 100%;
        margin-top: 2vmin;
        animation: 0.5s ease-out 0s 1 slideFromRight;
    }

    .headerSchedule {
        border-bottom: 1px solid var(--text-color);
    }

    .centerText {
        text-align: center;
    }

    .rowSchedule {
        height: 50px;
    }

    .match:hover {
        background-color: var(--orange-transparent);
    }

    .nextMatch {
        background-color: var(--orange) !important;
        color: var(--text-color);
    }

    .imgSquadra {
        width: 30px;
    }

    @@media (min-width: 320px) and (max-width: 480px) {
        .titleSectionStanding {
            font-size: 20px !important;
            margin-bottom: 2vmin;
        }

        .imgSquadra {
            display: none;
        }

        .rowSchedule .sizeMediumSmall {
            font-size: 14px;
        }
    }
</style>

<div class="titleSectionStanding sizeMediumBig weight300">
    Stagione 22/23
</div>

<table class="tableSchedule">
    <tr class="headerSchedule">
        <th style="width: 5%;"></th>
        <th style="width: 30%;">Squadra</th>
        <th class="centerText" style="width: 8%;">Punti</th>
        <th class="centerText" style="width: 8%;">G</th>
        <th class="centerText hideMobilePort" style="width: 8%;">GV</th>
        <th class="centerText hideMobilePort" style="width: 8%;">GP</th>
        <th class="centerText hideMobilePort" style="width: 8%;">SV</th>
        <th class="centerText hideMobilePort" style="width: 8%;">SP</th>
        <th class="centerText hideMobilePort" style="width: 8%;">PF</th>
        <th class="centerText hideMobilePort" style="width: 8%;">PS</th>
    </tr>

    @foreach (var item in Model)
    {
        string squadra = "";
        if (item.squadra.ToLower() == "Veramente sportiva A.s.d.".ToLower())
        {
            squadra = "nextMatch";
        }
        <tr class="rowSchedule match @squadra">
            <td class="weight300 centerText">@item.posizione</td>
            <td class="weight300 sizeMediumSmall">
                <img class="imgSquadra" src="@item.immagineSquadra" />
                @item.squadra
            </td>
            <td class="weight700 sizeMediumSmall centerText">@item.punti</td>
            <td class="weight300 centerText">@item.giornate</td>
            <td class="weight300 centerText hideMobilePort">@item.giornateVinte</td>
            <td class="weight300 centerText hideMobilePort">@item.giornatePerse</td>
            <td class="weight300 centerText hideMobilePort">@item.setVinti</td>
            <td class="weight300 centerText hideMobilePort">@item.setPersi</td>
            <td class="weight300 centerText hideMobilePort">@item.puntiFatti</td>
            <td class="weight300 centerText hideMobilePort">@item.puntiPersi</td>
        </tr>
    }
</table>