@using VeraMente_Sportiva.Models
@using VeraMente_Sportiva.Utils

@model List<PersonaViewModel>

@{
    List<PersonaViewModel> listaStaff = ViewBag.ListaStaff;
}

<script>

    $(document).ready(function () {
        disattivaLoading();
    });

</script>

<style>
    .containerTeam, .containerStaff {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .containerStaff {
        animation: 0.7s ease-out 0s 1 slideFromLeft;
    }

    .containerTeam {
        animation: 0.7s ease-out 0s 1 slideFromRight;
    }

    .titleSectionTeam {
        margin-top: 2vmin;
        padding-left: 1.6vmin;
    }

    .player {
        width: 18%;
        height: 35vmin;
        margin: 1.6vmin;
        background-color: var(--bg-color);
        border-radius: 1vmin;
        border: 2px solid var(--text-color);
        overflow: hidden;
        -webkit-box-shadow: 0 8px 12px -4px var(--text-shadow);
        box-shadow: 0 8px 12px -4px var(--text-shadow);
    }

        .player:hover {
            border: 2px solid var(--orange);
        }

    .playerImg {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .playerRole {
        height: 5vmin;
        width: 5vmin;
        position: absolute;
        top: 1vmin;
        right: 1vmin;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--text-color);
        color: var(--bg-color);
        border-radius: 10vmin;
    }

    .playerImg img {
        height: 100%;
        width: auto;
        display: block;
    }

    .playerInfo {
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1vmin;
        border-top: 1px solid var(--text-color);
    }

    .player:hover .playerInfo {
        border-top: 1px solid var(--orange);
    }

    .staffName {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .playerName {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .playerNumber {
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .captain {
        width: 70%;
        height: 1vmin;
        background-color: var(--text-color);
    }

    /* Smartphones Portrait */
    @@media (min-width: 320px) and (max-width: 480px) {
        .titleSectionTeam {
            font-size: 20px !important;
            text-align: center;
            margin: 2vmin 0;
        }

        .player {
            width: 95%;
            height: 60vh;
            margin: 2vmin auto;
        }

        .playerInfo {
            padding: 0 4vmin;
        }

        .captain {
            height: 3vmin;
        }

        .playerNumber .sizeBig {
            font-size: 40px !important;
        } 
    }

    /* Smartphones Landscape */
    @@media (min-width: 481px) and (max-width: 767px) {
        .titleSectionTeam {
            font-size: 20px !important;
            text-align: center;
            margin: 2vmin 0;
        }

        .player {
            width: 49%;
            height: 80vh;
            margin: 2vmin auto;
        }

        .playerInfo {
            padding: 0 4vmin;
        }

        .captain {
            height: 2vmin;
        }

        .playerNumber .sizeBig {
            font-size: 30px !important;
        }
    }
</style>


<div class="titleSectionTeam sizeMediumBig weight300">
    Staff
</div>

<div class="containerStaff">
    @foreach (var item in listaStaff)
    {
        <div class="player">
            <div class="playerImg">
                <img src="~/Images/staffPlaceholder.png" />
            </div>
            <div class="playerInfo">
                <div class="staffName">
                    <div class="sizeMedium weight600">@item.nome @item.cognome</div>
                    <div class="sizeMediumSmall weight300 orange">@item.ruolo</div>
                </div>
            </div>
        </div>
    }
</div>

<div class="titleSectionTeam sizeMediumBig weight300">
    Giocatori
</div>

<div class="containerTeam">
    @foreach (var item in Model)
    {
        <div class="player">
            <div class="playerImg">
                <img src="~/Images/playerPlaceholder.png" />
            </div>
            <div class="playerInfo">
                <div class="playerName">
                    <div class="sizeMedium weight600">@item.nome @item.cognome</div>
                    <div class="sizeMediumSmall weight300 orange">@item.ruolo</div>
                </div>
                <div class="playerNumber">
                    <div class="sizeBig weight900">@item.numero</div>
                    @if (item.isCapitano)
                    {
                        <div class="captain"></div>
                    }
                </div>
            </div>
        </div>
    }
</div>