@using VeraMente_Sportiva.Models

@model List<CardNews>

@{ 
    CardNews myMainCard = ViewBag.MainNews;
}

<script>

    $(document).ready(function () {
        focusSection("News");
    });

</script>

<style>
    .mainNews {
        width: 100%;
        height: 63vh;
        -webkit-box-shadow: 0 8px 12px -4px var(--text-shadow);
        box-shadow: 0 8px 12px -4px var(--text-shadow);
        border-radius: 1vmin;
        overflow: hidden;
        animation: 0.7s ease-out 0s 1 slideFromLeft;
    }

    .mainNewsInside {
        width: 100%;
        height: 100%;
        padding: 10px 30px 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
        transition: all 0.2s;
        animation: fadein 0.2s;
    }

        .mainNewsInside:hover {
            box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 30%);
        }

    .mainNewsInfo {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mainNewsTags {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .tagMainNews {
        color: var(--light);
        background-color: var(--orange);
        padding: 3px 10px;
        opacity: 0.9;
        margin-right: 2vmin;
        border-radius: 1vmin;
    }

    .mainNewsDate {
        height: 100%;
        display: flex;
        color: var(--light);
        opacity: 0.7;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-style: italic;
    }

    .mainNewsContent {
        width: 100%;
        max-height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .mainNewsTitle {
        width: 100%;
        height: 30%;
        font-size: 40px;
        color: var(--light);
    }

    .mainNewsPreview {
        width: 100%;
        height: 70%;
        color: var(--light);
        overflow: hidden;
    }

    .containerNews {
        width: 100%;
        margin-top: 2vmin;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        animation: 0.7s ease-out 0s 1 slideFromRight;
    }

    .news {
        width: 32%;
        height: 28vh;
        background-color: var(--bg-secondary-color);
        -webkit-box-shadow: 0 8px 12px -4px var(--text-shadow);
        box-shadow: 0 8px 12px -4px var(--text-shadow);
        border-radius: 1vmin;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        margin-bottom: 2vmin;
    }

    .newsInside {
        width: 100%;
        height: 100%;
        padding: 10px 30px 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
        transition: all 0.2s;
        animation: fadein 0.2s;
    }

        .newsInside:hover {
            box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 30%);
        }

    .newsInfo {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .newsTags {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .tagNews {
        color: var(--light);
        background-color: var(--orange);
        padding: 3px 10px;
        opacity: 0.9;
        margin-right: 2vmin;
        border-radius: 1vmin;
    }

    .newsDate {
        height: 100%;
        display: flex;
        color: var(--light);
        opacity: 0.7;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-style: italic;
    }

    .newsContent {
        width: 100%;
        max-height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .newsTitle {
        width: 100%;
        color: var(--light);
    }

    .newsPreview {
        width: 100%;
        height: 70%;
        color: var(--light);
        overflow: hidden;
    }

    .moreNews {
        width: 100%;
        height: 2%;
        margin-top: 2vmin;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        animation: 0.7s ease-out 0s 1 slideFromRight;
    }

    /* Smartphones Portrait */
    @@media (min-width: 320px) and (max-width: 480px) {
        .mainNews {
            width: 100%;
        }

        .mainNewsInside {
            padding: 5px 15px 10px 15px;
            box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 40%);
        }

        .tagMainNews {
            margin-right: 2vmin;
            font-size: 10px !important;
        }

        .mainNewsDate {
            font-size: 10px !important;
        }

        .mainNewsTitle {
            height: 40%;
            font-size: 22px;
        }

        .mainNewsPreview {
            height: 60%;
            font-size: 13px;
        }

        .containerNews {
            height: auto;
            margin-top: 4vmin;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .news {
            width: 100%;
            height: 33vh;
            margin-bottom: 4vmin;
        }

        .newsInside {
            padding: 5px 15px 10px 15px;
            box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 40%);
        }

        .newsInfo {
            height: 15%;
        }

        .tagNews {
            margin-right: 2vmin;
            font-size: 10px !important;
        }

        .newsDate {
            font-size: 10px !important;
        }
    }

    /* Tablet Landscape */
    @@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .mainNews {
            height: 50vh;
            margin-bottom: 4vmin;
        }

        .news {
            width: 49%;
            height: 30vh;
            margin-bottom: 4vmin;
        }
    }

    /* Small Laptop and Big Tablet Landscape */
    @@media (min-width: 1025px) and (max-width: 1280px) {
        .mainNews {
            height: 60vh;
        }

        .mainNewsTitle {
            height: 40%;
            font-size: 30px;
            display: flex;
            align-items: center;
        }

        .mainNewsPreview {
            height: 60%;
            font-size: 18px;
        }

        .news {
            width: 48%;
            height: 30vh;
            margin-bottom: 4vmin;
        }

        .newsInside {
            padding: 5px 15px 15px 15px;
            box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 40%);
        }

        .newsInfo {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        }

        .newsTags {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        .newsDate {
            width: 100%;
            height: 50%;
            justify-content: center;
        }
    }
</style>

<div class="mainNews sizeMedium cursorClick">
    <div class="mainNewsInside" style="background-image: url(../../Images/@myMainCard.immagine); background-size: cover;">
        <div class="mainNewsInfo">
            <div class="mainNewsTags">
                @foreach (var item in myMainCard.tags)
                {
                    <div class="tagMainNews sizeMediumSmall weight500">@item</div>
                }
            </div>
            <div class="mainNewsDate sizeMediumSmall weight500">
                <div>@myMainCard.dataPubblicazione.ToString("dd/MM/yyyy")</div>
            </div>
        </div>
        <div class="mainNewsContent">
            <div class="mainNewsTitle weight900">
                <div>@myMainCard.titolo</div>
            </div>
            <div class="mainNewsPreview sizeMedium weight300">
                <div>@myMainCard.contenuto</div>
            </div>
        </div>
    </div>
</div>

<div class="containerNews">
    @foreach (var item in Model)
    {
        <div class="news cursorClick">
            <div class="newsInside" style="background-image: url(../../Images/@item.immagine); background-size: cover;">
                <div class="newsInfo">
                    <div class="newsTags">
                        @foreach (var tag in item.tags)
                        {
                            <div class="tagNews sizeSmallNormal weight500">@tag</div>
                        }
                    </div>
                    <div class="newsDate sizeSmallNormal weight500">
                        <div>@item.dataPubblicazione.ToString("dd/MM/yyyy")</div>
                    </div>
                </div>
                <div class="newsContent">
                    <div class="newsTitle sizeMedium weight900">
                        <div>@item.titolo</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="moreNews hoverOrange">
    Carica altre news
</div>

